﻿@using WebApplication5.ViewModels
@model IndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Teachers</h2>

@Html.Partial("_CreatePartial", Model.CreateTeacherViewModel)


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Subject
        </th>
        <th>Options</th>
    </tr>

@foreach (var item in Model.Teachers) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


@section scripts
{
    <script>
        alert("Are you sure?");
    </script>
}
